<div class="playlist">
  <img [src]="playlist?.logo" alt="Playlist Logo" />
  <div class="playlist-details">
    <p class="playlist-name">{{ playlist?.name }}</p>
    <p class="playlist-description">{{ playlist?.description }}</p>
    <p class="playlist-info">
      Made for User | {{ songs?.length }} songs, {{ totalDuration | duration }}
    </p>
  </div>
</div>

<table class="songs">
  <thead>
    <tr>
      <th class="name" colspan="2">Song</th>
      <th class="author">Author</th>
      <th class="album">Album</th>
      <th class="time" colspan="2">Time</th>
    </tr>
  </thead>

  <tbody>
    @for (song of songs; track song.id) {
    <tr app-song-collection [musicData]="song"></tr>
    }
  </tbody>
</table>
