:host {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  padding: 0.6rem 1.2rem;

  background: #171717f6;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.management {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}

.notifications,
.profile {
  position: relative;
}

.profile > button,
.notifications > a {
  width: 2.6rem;
  height: 2.6rem;
  display: block;
  background-color: #2a2a2a;
  border: none;
  border-radius: 50%;
  transition: transform 0.2s;

  cursor: pointer;
}

.profile > button:hover,
.notifications > a:hover {
  transform: scale(1.08);
}

.notifications > a {
  padding: 0.6rem;
}

.profile > button {
  padding: 0.2rem;
}

a svg,
button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

a svg {
  opacity: 0.7;
}

.notifications svg {
  display: none;
}

a.selected .icon-bold {
  display: inline;
}

a:not(.selected) .icon-inline {
  display: inline;
}

.notifications p,
.profile p {
  display: none;

  margin: 0;
  background-color: #212121;
  padding: 0.2rem 0.4rem;
  border-radius: 8px;

  position: absolute;
  top: 3.2rem;
  right: 50%;
  transform: translate(50%);
  overflow-x: auto;

  font-family: Nunito, sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  white-space: nowrap;
}

.notifications a.hoverable:hover + p,
.profile button.hoverable:hover + p {
  display: block;
}

.profile ul {
  display: none;
  position: absolute;
  top: 3.5rem;
  right: 0;
  width: 360%;

  margin: 0;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;

  list-style: none;
  background-color: #222222;

  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: baseline;

  z-index: 2;
}

.profile li {
  display: block;
  width: 100%;
  border-radius: 5px;
}

.profile ul a,
.profile ul button {
  display: block;

  font-family: Nunito, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: inherit;

  padding: 0.6rem 0.8rem;
  margin: 0;
  background-color: inherit;
  border: none;
  width: 100%;
  text-align: start;
  border-radius: 5px;

  cursor: pointer;
}

.profile ul a:hover,
.profile ul button:hover {
  background-color: #3c3c3c;
}

.searchbar {
  height: 2.8rem;
  width: 24rem;
  border: 2px solid #aaaaaa;
  border-radius: 4rem;

  padding: 0.2rem 0.8rem;

  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.searchbar svg {
  height: 1.2rem;
  width: 1.2rem;
}

.searchbar input {
  height: 100%;
  width: 100%;
  background-color: inherit;
  outline: 0;
  border: none;
  font-family: Nunito, sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: #dddddd;
}

.searchbar input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  color: #dddddd;
  width: 0.8rem;
  height: 0.8rem;
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 43%,
      #dddddd 45%,
      #dddddd 55%,
      rgba(0, 0, 0, 0) 57%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      #dddddd 45%,
      #dddddd 55%,
      transparent 57%,
      transparent 100%
    );
}

@media only screen and (max-width: 600px) {
  .searchbar {
    display: none;
  }

  :host {
    background-color: #00000000;
    position: static;
  }

  .management {
    flex-direction: row-reverse;
  }
}
