:host {
  position: relative;
  min-width: 12rem;
  max-width: 12rem;
  border-radius: 8px;
  cursor: pointer;
  padding: 0.2rem 0;
  display: block;

  transition: 0.2s;
}

:host:hover img {
  opacity: 0.6;
} 

:host:hover .control {
  opacity: 1;
}

img {
  width: 100%;
  border-radius: 8px;
  transition: 0.2s;
}

.info {
  margin: 0.1rem 0.2rem;
}

a {
  display: block;
  margin: 0;
  margin-top: 0.1rem;
}

.name {
  font-size: 1.1rem;
  font-weight: 500;
}

.description {
  font-size: 0.8rem;
  opacity: 0.7;
}

.control {
  position: absolute;
  top: 9.8rem;
  
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0.4rem;

  transition: 0.2s;
  opacity: 0;
}

button {
  border: none;
  background-color: #171717;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

button:hover {
  background-color: #ac00b6;
}

button svg {
  height: 100%;
  width: 100%;
}

.play svg {
  position: relative;
  left: 0.06rem;
}

@media all and (max-width: 600px) {
  :host {
    position: relative;
    min-width: 10rem;
    max-width: 10rem;
  }

  .name {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .description {
    font-size: 0.7rem;
    opacity: 0.7;
  }
}