:host > div {
  width: 100%;
  margin-bottom: 2.4rem;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 2.2rem;
  font-weight: 800;
  margin: 0;
  margin-bottom: 1rem;
}

hr {
  opacity: 0.4;
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 0.8rem;
  opacity: 0.8;
}

.playlist-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  overflow-x: auto;
}

.songs-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.5rem;
  row-gap: -1px;
}

.songs-list > *:nth-child(1),
.songs-list > *:nth-child(2),
.songs-list > *:nth-child(3) {
  border-top: 1px solid #ffffff33;
}

.songs-list > * {
  border-bottom: 1px solid #ffffff33;
}

@media all and (max-width: 600px) {
  .songs-list {
    grid-template-columns: 1fr;
  }

  .songs-list > *:nth-child(n) {
    border: none;
    border-bottom: 1px solid #ffffff33;
  }

  .songs-list > *:nth-child(1) {
    border-top: 1px solid #ffffff33;
  }
}
