<div class="current-music">
  @if (musicInfo) {
  <img
    [src]="'./examples/' + musicInfo?.author + '/' + musicInfo?.album + '.png'"
    alt="Album Cover"
  />
  } @else {
  <img src="music/unselected-music.png" alt="Album Cover" />
  }
  <div class="music-info">
    <a [routerLink]="[musicInfo?.author, musicInfo?.id]" class="music-name">{{
      musicInfo?.name || 'Name'
    }}</a>
    <a [routerLink]="[musicInfo?.author]" class="music-author">{{
      musicInfo?.author || 'Author'
    }}</a>
  </div>
</div>

<div class="control-music">
  <div class="control-buttons">
    <button id="shuffle">
      <svg
        width="24"
        height="25"
        viewBox="0 0 24 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16 18.5C14.4229 18.5 12.9465 17.8826 11.8512 16.8346"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M7.15475 8.55196C5.78876 7.26008 3.95637 6.5 2 6.5"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M22.6432 19.5439C23.2699 19.1522 23.2699 18.2396 22.6432 17.8479L17.53 14.6521C16.864 14.2359 16 14.7147 16 15.5001V21.8916C16 22.6771 16.864 23.1559 17.53 22.7396L22.6432 19.5439Z"
          fill="white"
        />
        <path
          d="M16 6.5V6.5C13.5778 6.5 11.3932 7.95643 10.4615 10.1923L8.92308 13.8846C7.75856 16.6795 5.02776 18.5 2 18.5V18.5"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M21.6432 7.54388C22.2699 7.15222 22.2699 6.23956 21.6432 5.84789L16.53 2.65214C15.864 2.23586 15 2.7147 15 3.50013V9.89164C15 10.6771 15.864 11.1559 16.53 10.7396L21.6432 7.54388Z"
          fill="white"
        />
      </svg>
    </button>

    <button id="skip-back" (click)="previousTrack()">
      <svg
        width="30"
        height="31"
        viewBox="0 0 30 31"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11.3258 16.3437C10.7083 15.9507 10.7083 15.0493 11.3258 14.6564L22.2131 7.72802C22.8789 7.30438 23.75 7.7826 23.75 8.57169V22.4283C23.75 23.2174 22.8788 23.6956 22.2131 23.272L11.3258 16.3437Z"
          fill="white"
        />
        <rect
          width="2.5"
          height="17.5"
          rx="1"
          transform="matrix(-1 0 0 1 8.75 6.75)"
          fill="white"
        />
      </svg>
    </button>

    <button (click)="toggleStatus()" id="play-pause">
      @if (status === 'paused') {
      <svg
        width="40"
        height="41"
        viewBox="0 0 40 41"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M33.6432 21.348C34.2699 20.9563 34.2699 20.0437 33.6432 19.652L9.86333 4.78958C9.19728 4.3733 8.33333 4.85215 8.33333 5.63758V35.3624C8.33333 36.1479 9.19728 36.6267 9.86333 36.2104L33.6432 21.348Z"
          fill="white"
        />
      </svg>
      } @else {
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect x="4" y="3" width="6" height="18" rx="2" fill="white" />
        <rect x="14" y="3" width="6" height="18" rx="2" fill="white" />
      </svg>
      }
    </button>

    <button id="skip-fwd" (click)="nextTrack()">
      <svg
        width="30"
        height="31"
        viewBox="0 0 30 31"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18.6742 16.3437C19.2917 15.9507 19.2917 15.0493 18.6742 14.6564L7.78687 7.72802C7.12115 7.30438 6.25 7.7826 6.25 8.57169V22.4283C6.25 23.2174 7.12115 23.6956 7.78688 23.272L18.6742 16.3437Z"
          fill="white"
        />
        <rect
          x="21.25"
          y="6.75"
          width="2.5"
          height="17.5"
          rx="1"
          fill="white"
        />
      </svg>
    </button>

    <button id="repeat">
      <svg
        width="24"
        height="25"
        viewBox="0 0 24 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M21.6432 6.54388C22.2699 6.15222 22.2699 5.23956 21.6432 4.84789L16.53 1.65214C15.864 1.23586 15 1.7147 15 2.50013V8.89164C15 9.67707 15.864 10.1559 16.53 9.73964L21.6432 6.54388Z"
          fill="white"
        />
        <path
          d="M2.47013 19.5439C1.84347 19.1522 1.84347 18.2396 2.47014 17.8479L7.58334 14.6521C8.24939 14.2359 9.11334 14.7147 9.11334 15.5001V21.8916C9.11334 22.6771 8.24939 23.1559 7.58334 22.7396L2.47013 19.5439Z"
          fill="white"
        />
        <path
          d="M4 11.5V11.5C4 8.18629 6.68629 5.5 10 5.5V5.5H15"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M19 12.5V12.5C19 15.8137 16.3137 18.5 13 18.5V18.5H8"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>

  <div class="music-playback">
    <span>{{ playbackTime | playback }}</span>
    <input
      type="range"
      min="0"
      [max]="musicInfo?.duration"
      [(ngModel)]="playbackTime"
      appSlider
    />
    <span>{{ musicInfo?.duration | playback }}</span>
  </div>
</div>

<div class="music-additional">
  <button>
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M3 16H5V22C5 22.5523 4.55228 23 4 23C3.44772 23 3 22.5523 3 22V16Z"
        fill="white"
      />
      <path
        d="M11 13H13V22C13 22.5523 12.5523 23 12 23C11.4477 23 11 22.5523 11 22V13Z"
        fill="white"
      />
      <path
        d="M3 2C3 1.44772 3.44772 1 4 1C4.55228 1 5 1.44772 5 2V11H3V2Z"
        fill="white"
      />
      <path
        d="M19 16H21V22C21 22.5523 20.5523 23 20 23C19.4477 23 19 22.5523 19 22V16Z"
        fill="white"
      />
      <path
        d="M19 2C19 1.44772 19.4477 1 20 1C20.5523 1 21 1.44772 21 2V11H19V2Z"
        fill="white"
      />
      <path
        d="M11 2C11 1.44772 11.4477 1 12 1C12.5523 1 13 1.44772 13 2V8H11V2Z"
        fill="white"
      />
      <rect x="16" y="13" width="8" height="5" rx="2" fill="white" />
      <rect x="8" y="6" width="8" height="5" rx="2" fill="white" />
      <rect y="13" width="8" height="5" rx="2" fill="white" />
    </svg>
  </button>

  <div class="volume">
    <button (click)="toggleVolume()">
      @if (volume === 0) {
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M17 3.94319C17 3.12982 16.0806 2.6567 15.4188 3.12946L10 7H7C5.89543 7 5 7.89543 5 9V15C5 16.1046 5.89543 17 7 17H7.22832L17 9.39981V3.94319ZM17 11.9335L10.2533 17.1809L15.4188 20.8705C16.0806 21.3433 17 20.8702 17 20.0568V11.9335Z"
          fill="white"
        />
        <path
          d="M21 5L3 19"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      } @else if (volume < 0.5) {

      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M13.4188 3.12946C14.0806 2.6567 15 3.12982 15 3.94319V20.0568C15 20.8702 14.0806 21.3433 13.4188 20.8705L8 17H5C3.89543 17 3 16.1046 3 15V9C3 7.89543 3.89543 7 5 7H8L13.4188 3.12946Z"
          fill="white"
        />
        <path
          d="M17.9938 16.9053C19.2347 15.6423 20 13.9105 20 12C20 10.0815 19.2282 8.34323 17.9781 7.0788"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      } @else {
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11.4188 3.12946C12.0806 2.6567 13 3.12982 13 3.94319V20.0568C13 20.8702 12.0806 21.3433 11.4188 20.8705L6 17H3C1.89543 17 1 16.1046 1 15V9C1 7.89543 1.89543 7 3 7H6L11.4188 3.12946Z"
          fill="white"
        />
        <path
          d="M15.9938 16.9053C17.2347 15.6423 18 13.9105 18 12C18 10.0815 17.2282 8.34323 15.9781 7.0788"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M18.7782 4.2218C20.7688 6.21241 22 8.96241 22 12C22 15.0375 20.7688 17.7875 18.7782 19.7782"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      }
    </button>

    <input
      type="range"
      [min]="0"
      [max]="1"
      [step]="0.01"
      [(ngModel)]="volume"
      appSlider
    />
  </div>

  <button>
    <svg
      width="14"
      height="14"
      viewBox="0 0 14 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_1222_36774)">
        <path
          d="M1 3C1.27614 3 1.5 2.77614 1.5 2.5C1.5 2.22386 1.27614 2 1 2C0.723858 2 0.5 2.22386 0.5 2.5C0.5 2.77614 0.723858 3 1 3Z"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M4.5 2.5H13.5"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M1 7.5C1.27614 7.5 1.5 7.27614 1.5 7C1.5 6.72386 1.27614 6.5 1 6.5C0.723858 6.5 0.5 6.72386 0.5 7C0.5 7.27614 0.723858 7.5 1 7.5Z"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M4.5 7H13.5"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M1 12C1.27614 12 1.5 11.7761 1.5 11.5C1.5 11.2239 1.27614 11 1 11C0.723858 11 0.5 11.2239 0.5 11.5C0.5 11.7761 0.723858 12 1 12Z"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M4.5 11.5H13.5"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </g>
      <defs>
        <clipPath id="clip0_1222_36774">
          <rect width="14" height="14" fill="white" />
        </clipPath>
      </defs>
    </svg>
  </button>
</div>
