:host {
  padding: 0 1rem;

  height: 5rem;
  width: 100%;

  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.current-music {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  padding: 0.2rem 0.3rem;
}

.current-music img {
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 4px;
}

.music-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.music-name {
  font-size: 0.9rem;
}

.music-author {
  font-size: 0.7rem;
  opacity: 0.6;
}

.control-music {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.control-buttons {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.control-buttons button {
  background-color: inherit;
  border: none;
  opacity: 0.7;

  height: 1.9rem;
  width: 1.9rem;

  cursor: pointer;
}

#skip-back,
#skip-fwd {
  height: 2.3rem;
  width: 2.3rem;
}

.control-buttons svg {
  width: 100%;
  height: 100%;
}

#play-pause {
  opacity: 1;
  height: 2.7rem;
  width: 2.7rem;
}

.control-buttons button:hover {
  opacity: 1;
}

.music-playback {
  font-size: 0.7rem;
  position: relative;

  display: flex;
  justify-content: center;
  gap: 0.2rem;
  align-items: center;
}

.music-playback input {
  width: 26rem;

  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  background: #d0d0d0;
  border-radius: 2px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.music-playback input:hover {
  opacity: 1;
}

.music-playback input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background: #9000a0;
  transform: scale(0, 0);
  transition: 0.2s;
  cursor: pointer;
}

.music-playback input:hover::-webkit-slider-thumb {
  transform: scale(1, 1);
}

.music-additional {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.music-additional svg {
  height: 100%;
  width: 100%;
}

.music-additional button {
  background-color: inherit;
  border: none;
  opacity: 0.7;

  height: 1.9rem;
  width: 1.9rem;

  cursor: pointer;
}

.music-additional button:hover {
  opacity: 1;
}

.volume {
  display: flex;
  align-items: center;
  margin: 0 1.4rem 0 0;
}

.volume input {
  width: 6rem;

  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  background: #d0d0d0;
  border-radius: 2px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.volume input:hover {
  opacity: 1;
}

.volume input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background: #9000a0;
  transform: scale(0, 0);
  transition: 0.2s;
  cursor: pointer;
}

.volume input:hover::-webkit-slider-thumb {
  transform: scale(1, 1);
}

@media only screen and (max-width: 600px) {
  .control-music {
    position: static;
    transform: none;
    margin-right: 0.8rem;
  }

  .control-buttons button {
    display: none;
  }

  .music-playback > * {
    display: none;
  }

  .music-playback input {
    display: none;
    width: 100vw;
    position: absolute;
    bottom: 0;
  }

  #skip-back {
    display: block;
    height: 3.2rem;
    width: 3.2rem;
  }

  #play-pause {
    display: block;
    height: 3.2rem;
    width: 3.2rem;
  }

  #skip-fwd {
    display: block;
    height: 3.2rem;
    width: 3.2rem;
  }

  .music-additional {
    display: none;
  }

  :host {
    bottom: 4rem;
    padding: 0;
    margin: 0.2rem 0;
    background-color: #171717;
    border-radius: 5px;
    height: auto;
  }
}
