:host {
  display: flex;
  align-items: center;
  padding: 0.4rem 0;
  cursor: pointer;
}

:host:hover img {
  opacity: 0.6;
}

:host:hover .play-svg {
  opacity: 1;
}

.music-logo {
  position: relative;
  margin-right: 0.6rem;
  height: 3rem;
  width: 3rem;
}

.play-svg {
  opacity: 0;
  height: 1.3rem;
  width: 1.3rem;
  position: absolute;
  left: 0.9rem;
  top: 0.9rem;
  transition: 0.2s;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: 0.2s;
}

.music-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.music-info .music-name {
  font-size: 0.8rem;
}

.music-info .music-author {
  font-size: 0.7rem;
  opacity: 0.6;
}

.music-author:hover, .music-album:hover {
  text-decoration: underline;
}

.music-duration {
  font-size: 0.9rem;
  opacity: 0.6;
}

.about {
  background-color: inherit;
  border: none;
  border-radius: 50%;
  height: 1.8rem;
  width: 1.8rem;
  margin: 0 0.6rem;
  cursor: pointer;
}

.about svg {
  width: 100%;
  height: 100%;
}

tr {
  width: 100%;
}

.music-name {
  flex-grow: 2;
  max-width: 24rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.music-author {
  flex-grow: 1;
  max-width: 20rem;
  font-size: 0.8rem;
  opacity: 0.6;
}

.music-album {
  flex-grow: 1;
  font-size: 0.8rem;
  opacity: 0.6;
}