<div class="title">
  <h2>Angular Music</h2>
  <p>Your reliable music service</p>
</div>
<img src="./app-logo.png" alt="Angular Music" />
<div class="info">
  <p>
    Listen to your favorite tracks, explore new genres, and find fresh hits from
    around the globe. With personalized playlists, exclusive releases, and a
    vast library of songs, Angular Music offers endless entertainment for every
    mood and moment.
  </p>
  <div class="links">
    <a routerLink="/home" class="home">Home</a>
    <a routerLink="/about" class="learn-more">Learn More</a>
  </div>
</div>
