:host {
  background-color: #171717;
  border-radius: 10px;
}

.app-title {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.app-title img {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 5px;
  border: 2px solid #333333;
}

.app-title span {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1;
  color: #dddddd;
}

nav {
  margin: 1rem;
}

nav ul {
  list-style: none;

  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1rem;
}

nav li {
  width: 100%;
}

nav a {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  width: 100%;
  border-radius: 8px;
  padding: 1rem;

  text-decoration: none;
  color: inherit;
  font-family: Nunito, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;

  transition: 0.4s;
}

nav a:hover, .active {
  background-color: rgba(255, 255, 255, 0.08);
}

nav svg {
  width: 1.5rem;
  height: 1.5rem;
  color: #ac00b6;

}

.selected {
  background-color: rgba(255, 255, 255, 0.08);
}


.collapsed span {
  display: none;
}

.collapsed a {
  gap: 0;
  justify-content: center;
}

.app-title.collapsed {
  padding: 1rem;
}